#feat{
    text-align: center;
}
#para1{
    text-align: center;     
}   
#para2{
    text-align: center;
}

  /* #cnter{ 
    display: block;
    content: '';
    height: 10px;
    background: linear-gradient(to var(--direction, left), var(--yellow), transparent);
   */
  
      
 
   .head {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    color: hotpink;
  }
  
  .head img {
    width: 100%;
  }
  .head h1 {
    grid-column: 1 / -1;
    display: grid; 
    grid-template-columns: 1fr auto 1fr; 
    grid-gap:5px;
    align-items: center;
    font-size: xx-large;
  }
   .head h1:before, .head h1:after {
    display: block;
    content: ''; 
    height: 40px;
    background: linear-gradient(to var(--direction, left), var(--yellow,red), transparent);
  }
  
  .head h1:after {
    --direction: right;
  }